.info__text_list {
  font-size: 20px;
  width: 500px;
}

@media screen and (max-width: 620px) {
  .info__text_list {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .info__text_list {
    font-size: 20px;
  }
}