.gallery {
  padding: 50px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.904);
  margin-top: 50px;
}

@media screen and (max-width: 448px) {
  .gallery {
    padding: 0;
  }
}
