.reviews__container {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 92.7vh;
  padding-top: 70px;
  position: relative;
  height: 100;
}

.reviews__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/background_info.jpg");
  z-index: -2;
}

.reviews__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.cards-container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.line {
  width: 195px;
  height: 3px;
  background: #498a2d;
  margin: 23px auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.content {
  padding: 28px;
}

.content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: #53b32b;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .card {
    flex: 100%;
    max-width: 80%;
  }
  .reviews__container {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .card {
    flex: 100%;
    max-width: 100%;
  }
}
