.header {
  height: 70px;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
  font-size: 20px;
  z-index: 100;
  gap: 192px;
  transition: top 0.3s ease-in-out;
  width: 100%;
}

.header > div:nth-child(1) {
  height: 70px;
}

@media screen and (max-width: 1360px) {
  .header {
    gap: 0;
  }
}
