.header__navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.navigation-list > button {
  color: white;
  transition: all 0.2s ease;
  background: none;
  border: none;
}

.navigation-list > button:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 700px) {
  .header__navigation {
    display: none;
 
  }
}