.footer input {
    outline: none;
    border: 1px solid #fff;
    background: #222222;
    height: 40px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    padding-left: 20px;
    caret-color: #fff;
}
